services:
    postgres:
        container_name: '${PROJECT_NAME}_postgres'
        image: postgres:16.10
        ports:
            - ${DB_PORT}:5432
        environment:
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DATABASE: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            PGDATA: /var/lib/postgresql/data/pgdata
            TZ: ${TIMEZONE}
        volumes:
            - postgres.data:/var/lib/postgresql/data/pgdata
        networks:
            - shared_web_network

    php:
        container_name: '${PROJECT_NAME}_php'
        environment:
            PHP_XDEBUG_MODE: ${PHP_XDEBUG_MODE}
            PHP_XDEBUG_CLIENT_PORT: ${PHP_XDEBUG_CLIENT_PORT}
            PHP_XDEBUG_CLIENT_HOST: ${PHP_XDEBUG_CLIENT_HOST}
            PHP_IDE_CONFIG: "serverName=${PHP_XDEBUG_SERVER_NAME}"
        build:
            args:
                USER: ${CURRENT_USER}
                UID: ${CURRENT_UID}
                WORKING_DIR: ${WORKING_DIR}
            context: .
            dockerfile: ./docker/php/Dockerfile
        volumes:
            - ./:${WORKING_DIR}
        links:
            - postgres
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            - shared_web_network

    nginx:
        container_name: '${PROJECT_NAME}_nginx'
        image: nginx:1.28.0
        links:
            - postgres
        ports:
            - ${NGINX_PORT}:80
        volumes:
            - ./:${WORKING_DIR}
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - shared_web_network
        depends_on:
            - postgres

    elasticsearch:
        container_name: '${PROJECT_NAME}_elasticsearch'
        image: elasticsearch:8.18.8
        ports:
            - ${ELASTIC_PORT}:9200
            - ${ELASTIC_TRANSPORT_PORT}:9300
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
        volumes:
            - elasticsearch:/usr/share/elasticsearch/data
        networks:
            - shared_web_network

    rabbitmq:
        container_name: '${PROJECT_NAME}_rabbitmq'
        image: rabbitmq:4.2.2-management-alpine
        ports:
            - ${RABBITMQ_PORT}:5672
            - 15672:15672
        networks:
            - shared_web_network

    ollama:
        container_name: '${PROJECT_NAME}_ollama'
        image: ollama/ollama
        ports:
            - ${OLLAMA_PORT}:11434
        volumes:
            - ollama.data:/root/.ollama
        entrypoint:
          [
              "/bin/bash",
              "-c",
              "ollama serve & sleep 5 && ollama pull ${OLLAMA_MODEL} && wait"
          ]
        restart: unless-stopped
        networks:
            - shared_web_network

    rabbit_worker:
        container_name: '${PROJECT_NAME}_worker'
        environment:
            PHP_XDEBUG_MODE: ${PHP_XDEBUG_MODE}
            PHP_XDEBUG_CLIENT_PORT: ${PHP_XDEBUG_CLIENT_PORT}
            PHP_XDEBUG_CLIENT_HOST: ${PHP_XDEBUG_CLIENT_HOST}
            PHP_IDE_CONFIG: "serverName=${PHP_XDEBUG_SERVER_NAME}"
            QUEUE_CONNECTION: ${QUEUE_CONNECTION}
        build:
            args:
                USER: ${CURRENT_USER}
                UID: ${CURRENT_UID}
                WORKING_DIR: ${WORKING_DIR}
            context: .
            dockerfile: ./docker/php/Dockerfile
        command: "php artisan rabbitmq:consume"
        restart: unless-stopped
        volumes:
            - ./:${WORKING_DIR}
        links:
            - postgres
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            - shared_web_network
        depends_on:
            - rabbitmq
            - postgres


volumes:
    postgres.data:
    elasticsearch:
        driver: local
    ollama.data:

networks:
    shared_web_network:
        driver: bridge
